body {
  margin: 5% 18% 0;
  font-size: large;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

article.briefly>header>p:nth-child(2) {
  font-weight: bold;
}

article.briefly>header> :nth-child(3) {
  margin-block-end: 0;
}

.photo {
  position: absolute;
  width: 150px;
  right: 20%;
  top: 11%;
}

.photo>img {
  width: 100%;
}

article.briefly>header>ul {
  margin-block-start: 0;
}

article.course>ul {
  display: flex;
  list-style: none;
  padding-left: 1%;
}

.course>ul>li {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

article.languages>p {
  margin: 0 auto;
}

footer {
  margin-top: 15px;
  box-shadow: 0 -5px 3px lightgrey;
  padding: 5px 0 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body>footer>nav>a:nth-child(1) {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}